body {
  box-sizing: border-box;
  margin: 0;
  background-color: #999;
}
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}
.mySwiper {
  height: 100vh;
  height: 100dvh;
}

.mySwiper .swiper-slide {
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
