/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ForevsDemo'; /* Уникальное имя для шрифта */
    src: url('@/fonts/forevsdemo-bold.otf') format('opentype');
    font-weight: normal;
    /* font-style: italic; */
  }

* {
    /* @apply text-stone-700 tracking-wide; */
    /* font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

body {
    background: black;
    zoom: 1;
    font-family: 'ForevsDemo', sans-serif;
}

@media (min-width: 1920px) {
    body {
      zoom: 1.4; /* Увеличиваем масштаб на 25% */
    }
    section {
        height: 70vh; /* Сбрасываем масштаб для секций */
      }
  }

.btn {
    @apply bg-stone-700 text-stone-100 shadow rounded-lg py-2 px-8;
}

.socialIcon {
    @apply text-xl text-stone-500 hover:text-stone-900;
}